* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.axios_error_box {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
